aws_region = "us-east-1"
instance_type = "t3.large"
github_repo = "https://github.com/mohammedmusa1/intern-devops.git"

# Add your secrets here and rename this file to terraform.tfvars
# github_pat = "ghp_xxxxxxxxxxxx"
# dockerhub_username = "your-user"
# dockerhub_token = "dckr_pat_xxxxxxxxxxxx"
